[submodule "kinnector-core"]
	path = kinnector-core
	url = https://github.com/kinnector/kinnector-core.git
[submodule "kinnector-agent"]
	path = kinnector-agent
	url = https://github.com/kinnector/kinnector-agent.git
[submodule "kinnector-desktop"]
	path = kinnector-desktop
	url = https://github.com/kinnector/kinnector-desktop.git
[submodule "kinnector-cli"]
	path = kinnector-cli
	url = https://github.com/kinnector/kinnector-cli.git
[submodule "kinnector-warden"]
	path = kinnector-warden
	url = https://github.com/kinnector/kinnector-warden.git
[submodule "kinnector-wordpress"]
	path = kinnector-wordpress
	url = https://github.com/kinnector/kinnector-wordpress.git
[submodule "kinnector-protect-community"]
	path = kinnector-protect-community
	url = https://github.com/kinnector/kinnector-protect-community.git
[submodule "kinnector-installer"]
	path = kinnector-installer
	url = https://github.com/kinnector/kinnector-installer.git
[submodule "kinnector-docker"]
	path = kinnector-docker
	url = https://github.com/kinnector/kinnector-docker.git
[submodule "kinnector-docs"]
	path = kinnector-docs
	url = https://github.com/kinnector/kinnector-docs.git
[submodule "kinnector-design"]
	path = kinnector-design
	url = https://github.com/kinnector/kinnector-design.git
[submodule "kinnector-config"]
	path = kinnector-config
	url = https://github.com/kinnector/kinnector-config.git
[submodule "kinnector-jvmti"]
	path = kinnector-jvmti
	url = https://github.com/kinnector/kinnector-jvmti.git
[submodule "kinnector-collect"]
	path = kinnector-collect
	url = https://github.com/kinnector/kinnector-collect.git
[submodule "warden"]
	path = warden
	url = https://github.com/kinnector/warden.git
[submodule "wpwarden"]
	path = wpwarden
	url = https://github.com/kinnector/wpwarden.git
